# Virtual environment
venv/
env/
biblesong_env/

# Bytecode files
*.pyc
__pycache__/

# Local settings
local_settings.py
settings_local.py

# Database
db.sqlite3

# Media files
media/

# Collected static files (if applicable)
staticfiles/

# Logs
*.log

# IDE/Editor files
.idea/
.vscode/
*.swp


.env